@using graduate_project.Models
@model ES_YDENPYO1ViewModel

<style>

    /* Button used to open the contact form - fixed at the bottom of the page */
    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
    }

    /* The popup form - hidden by default */
    .form-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 10000;
    }

    /* Add styles to the form container */
    .form-container {
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: white;
    }

    .modal-content-popup {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        max-width: 85%;
        height: 85%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Full-width input fields */
    . /*form-container input[type=text], .form-container input[type=password] {
                        width: 100%;
                        padding: 15px;
                        margin: 5px 0 22px 0;
                        border: none;
                        background: #f1f1f1;
                    }

                        /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    */
    /* Set a style for the submit/login button */
    .form-container .btn {
        background-color: #04AA6D;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    /* Add a red background color to the cancel button */
    .form-container .cancel {
        background-color: red;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }

    .button_popup {
        background-color: #6c757d;
        color: white;
        padding: 8px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 10%;
        opacity: 0.9;
    }

        .button_popup:hover {
            opacity: 1;
        }

</style>


<div class="form-popup" id="popup_form">
    <form action="Create" class="form-container">
        <div class="modal-content-popup">
            <div class="modal-header" style="display: flex; flex-flow:column;">
                <div style="display: flex; width:50%;  margin-bottom: 30px;">
                    <label class="col-sm-2" for="email"><b>部門コード</b></label>
                    <div class="col-sm-3 ">
                        <input id="search_id_popup" type="text" style="" class="form-control border-dark">
                    </div>
                    
                </div>
                <div style="display: flex; width:50%; ">
                    <label class="col-sm-2" for="psw"><b>部門名</b></label>
                    <div class="col-sm-6">
                        <input id="search_string_popup" type="text" style="" class="form-control border-dark" name="Search_popup">
                    </div>
                    
                </div>
                <button class="button_popup" type="button" id="search_popup" style="margin: 30px 0 0 146px; border: 2px solid black;">検索</button>
                <div class="modal-body">
                </div>
            </div>
            <div class="modal-body">             
                <table  style=" border:2px solid black;" class="table table-bordered text-center  overflow: auto;">
                    <thead class="sticky-lg-top" style="background-color:#98ce7e">
                        <tr>
                            <th style="width:8.25%;">選択</th>
                            <th style="width:10.42%;">@Html.DisplayNameFor(model=> model.BUMON[0].BUMONCD)</th>
                            <th style="width:30.5%;">@Html.DisplayNameFor(model=> model.BUMON[0].BUMONNM)</th>
                        </tr>
                    </thead>
                    <tbody id ="Data_Search">
                        @foreach (var item in Model.BUMON)
                        {
                            <tr>
                                <td>
                                     <input type="radio" id="@item.BUMONCD" name="fav_language" >
                                </td>
                                <td id ="popup_depart_code">
                                    @Html.DisplayFor(modelItem => item.BUMONCD)
                                </td>
                                <td id="item+@item.BUMONCD">
                                    @Html.DisplayFor(modelItem => item.BUMONNM)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div style="margin-left:130px">
                <button class=" button_popup" type="button" id="close_fill_popup" style="margin: 0 5px; border: 2px solid black;">選択</button>
                <button class=" button_popup" type="button" id="close_notfill_popup" style="margin: 0 5px; border: 2px solid black;" onclick="closeForm()">戻る</button>
            </div>
        </div>
    </form>
</div>



